/* Navigation*/

/*  ALL FONTS */
#root{
    font-family: 'Viaoda Libre', cursive;
}

@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Great+Vibes|Kaushan+Script|Liu+Jian+Mao+Cao|Rochester|Sacramento|Tangerine|Viaoda+Libre&display=swap');

.font-liu{
    font-family: 'Liu Jian Mao Cao', cursive;
}

.font-dancing{
    font-family: 'Dancing Script', cursive;
}

.font-kaushan{
    font-family: 'Kaushan Script', cursive;
}

.font-vibes{
    font-family: 'Great Vibes', cursive;
}


.font-sacramento{
    font-family: 'Sacramento', cursive;
}

.font-rochester{
    font-family: 'Rochester', cursive;
}

.font-tangerine{
    font-family: 'Tangerine', cursive;
}

.font-viadora{
    font-family: 'Viaoda Libre', cursive;
}

/* GENERAL CLASSES */

.text-60{
    font-size: 60px;
}

.font-40{
    font-size: 40px;
}

.text-white{
    color: white;
}

.mt-150{
    padding-top: 50px;
}

.mb-50{
    margin-bottom: 75px;
}


.text-center{
    text-align: center;
}

.m-top{
    margin-top: 350px;
}

.m-top-50{
    margin-top: 25px;
}

.m-right-75{
    margin-right: 75px;
}

@media only screen and (min-width: 768px){
    .mt-100{
        padding-top: 50px;
        color: white;
        margin-bottom: 450px;
    }
    .mt-300{
        margin-top: 250px;
    }
}

@media only screen and (max-width: 768px){
    .mt-100{
        padding-top: 100px;
        color: white;
        margin-bottom: 700px;
    }
}

/* NAVBAR HERE */

.navbar-brand{
    padding: 1rem !important;
    margin-left: 100px;
}

.navbar-nav{
    margin-right: 100px;
}

.navbar {
    background-color: black;
    opacity: 0.6;
    padding: 50px;
  }

/* INTRO IMAGES AND CAROUSEL OF IMAGES */

	@media (max-width: 480px) {
	.hide-mobile {	
	  display: none;
	}
	.show-mobile{
		width: 100%;
		height: 300px;
	}
  }

  @media (max-width: 200){
	  
  }


.rw-wrapper{
	width: 80%;
	position: relative;
	margin: 0px 380px 500px;
	font-family: 'Bree Serif';
	padding-top: 100px;
    overflow: hidden;
    padding: 10px;
}

.rw-sentence{
	text-align: left;
	text-shadow: 1px 1px 1px black;
}

.rw-sentence span{
	color: white;
	white-space: nowrap;
	font-size: 200%;
	font-weight: normal;
}

.rw-words{
	display: inline;
	text-indent: 10px;
}

.rw-words span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	width:50%;
	color: white;
}

.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	color: #ccc;
	-webkit-transform-origin: 10% 75%;
	transform-origin: 10% 75%;
	-webkit-animation: rotateWord 18s linear infinite 0s;
	-ms-animation: rotateWord 18s linear infinite 0s;
	animation: rotateWord 18s linear infinite 0s;
}
.rw-words span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
	color: #ccc;
}
.rw-words span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
	color: #ccc;	
}
.rw-words span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
	color: #ccc;
}
.rw-words span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
	color: #ccc;
}
.rw-words span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
	color: #ccc;
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    5% { opacity: 1; }
    17% { opacity: 1; -webkit-transform: rotate(0deg); }
	19% { opacity: 1; -webkit-transform: rotate(98deg); }
	21% { opacity: 1; -webkit-transform: rotate(86deg); }
	23% { opacity: 1; -webkit-transform: translateY(85px) rotate(83deg); }
	25% { opacity: 0; -webkit-transform: translateY(170px) rotate(80deg); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    5% { opacity: 1; }
    17% { opacity: 1; -ms-transform: rotate(0deg); }
	19% { opacity: 1; -ms-transform: rotate(98deg); }
	21% { opacity: 1; -ms-transform: rotate(86deg); }
	23% { opacity: 1; -ms-transform: translateY(85px) rotate(83deg); }
	25% { opacity: 0; -ms-transform: translateY(170px) rotate(80deg); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    5% { opacity: 1; }
    17% { opacity: 1; -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	19% { opacity: 1; -webkit-transform: rotate(98deg); transform: rotate(98deg); }
	21% { opacity: 1; -webkit-transform: rotate(86deg); transform: rotate(86deg); }
	23% { opacity: 1; -webkit-transform: translateY(85px) rotate(83deg); transform: translateY(85px) rotate(83deg); }
	25% { opacity: 0; -webkit-transform: translateY(170px) rotate(80deg); transform: translateY(170px) rotate(80deg); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 768px){
	.rw-sentence { 
		font-size: 18px;
		display: none;
	 }
	
}
@media screen and (max-width: 320px){
	.rw-sentence { font-size: 9px; }
}


html,body {
    height:100%;
	width:100%;
	position:relative;
}
#background-carousel{
	position: absolute;
	width:100%;
	height:100%;
	z-index:-1;
}
.carousel,
.carousel-inner {
	width:100%;
	height:100%;
	z-index:0;
	overflow:hidden;
}
.item {
	width:100%;
	height:100%;
	background-position:center center;
	background-size:cover;
	z-index:0;
}
 
#content-wrapper {
	position:absolute;
	z-index:1 !important;
	min-width:100%;
	min-height:100%;
}
.well {
    opacity:0.85
}

@media only screen and (min-width: 768px){
	#background-carousel{
		position:fixed;
		width:100%;
		height:100%;
		z-index:-1;
	}
}

/* ABOUT ME SECTION */

.about{
     background-color: white;
}

.about-img{
    width: 350px;
    height: 430px;
}

/* NEWS HERE */

.news{
    background-color: #fafafa;
    color: black;
}

.btnn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 20px 40px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-1 {
	border: 1px solid black;
    color: black;
    margin-right: 100px;
    margin-bottom: 30px;
}

.btn-1c:after {
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
}

.btn-1c:focus{
    outline: none;
    background-color: gold;
    color: white;
    border-color: white;
}

.btn-1c:hover,
.btn-1c:active {
    color: white;
    background-color: rgba(255, 217, 0, 0.884);
    border-color: white;
}

.btn-1c:hover:after,
.btn-1c:active:after {
    width: 100%;
    background-color: gold;
    
}

.ww-100{
	width: 100%;
	height: auto;
}

.btn-2 {
	border: 1px solid white !important;
	color: white !important;
    margin-right: 100px;
    margin-bottom: 30px;
}

.btn-2c:after {
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
}

.btn-2c:focus{
    outline: none;
    background-color: gold;
    color: white;
    border-color: white;
}

.btn-2c:hover,
.btn-2c:active {
    color: white;
    background-color: rgba(255, 217, 0, 0.884);
    border-color: white;
}

.btn-2c:hover:after,
.btn-2c:active:after {
    width: 100%;
    background-color: gold;
    
}

.news-img{
    width: 200px;
    height: 200px;
}

.grid {
	/* padding: 20px 20px 100px 20px; */
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 440px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
    max-width: 100%;
    height: 250px;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2c3f52;
	color: #fff;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}
/* 
.grid figcaption span:before {
	content: 'by ';
} */

.grid figcaption button:hover{
	color: gold;
	border-color: transparent;
}

.grid figcaption button {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}

@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}

.cs-style-2 figure img {
	z-index: 10;
    transition: transform 0.8s;
    filter: grayscale(100%);
}

.cs-style-2 figure:hover img,
.cs-style-2 figure.cs-hover img {
    transform: translateY(-90px);
    /* transition: transform 0.8s, opacity 0.8s; */
    filter: grayscale(0);
}

.cs-style-2 figcaption {
	height: 90px;
	width: 100%;
	top: auto;
	bottom: 0;
}

.cs-style-2 figcaption button {
	position: absolute;
	right: 20px;
	top: 30px;
}

/* MY WORK STYLING */

.work{
    background-color: white;
}

.img-hover-zoom--colorize img {
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(100%);
    width: 100%;
    height: ;
    padding: 20px;
  }
  
  .img-hover-zoom--colorize:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
  }

  .btn-1w {
	border: 1px solid black;
    color: black;
    margin-bottom: 30px;
}



.modal-content{
	background-color: black !important;
	color: white;
}

.back-ground{
	background-color: transparent;
}
  

/* AFTER CARE SECTION */

.after-care{
    background-color: #fafafa;
    color: black;
}



/* CONTACT SECTION */

.contact{
    background-color: white;
}

#map{
	max-width: 98%;
	height: 400px;
}

@media (max-width: 480px){
	#map{
		max-width: 95%;
		height: 300px;
	}
}
.footer{
	background-color: black;
	color: white;
}

.footer2{
	background-color: #2c3f52;
}